DATABASE_URL=postgres://{{LOCAL_DATABASE_USER}}:{{LOCAL_DATABASE_PASSWORD}}@127.0.0.1:{{LOCAL_DATABASE_PORT}}/{{LOCAL_DATABASE_NAME}}
ATTACHMENT_BUCKET={{LOCAL_ATTACHMENT_BUCKET}}
ATTACHMENT_PUBLIC_BASE_URL={{LOCAL_ATTACHMENT_PUBLIC_BASE_URL}}
API_BASE_URL=http://127.0.0.1:8080
EXPO_PUBLIC_API_URL=http://localhost:8080
